ibank/apps/card-service/src/main/resources/wsdl/CardCustomerService.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:wsp="http://www.w3.org/ns/ws-policy"
                  xmlns:wsp200409="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:wsp200607="http://www.w3.org/2006/07/ws-policy" xmlns:ns0="http://services.cards.common.scb"
                  targetNamespace="http://services.cards.common.scb">
  <wsdl:types xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:schema>
      <xsd:import schemaLocation="CardCustomerService.xsd4.xsd" namespace="http://entity.cards.common.scb"/>
      <xsd:import schemaLocation="CardCustomerService.xsd7.xsd" namespace="http://entity.cards.common.scb"/>
      <xsd:import schemaLocation="CardCustomerService.xsd2.xsd" namespace="http://entity.service.common.scb"/>
      <xsd:import schemaLocation="CardCustomerService.xsd6.xsd" namespace="http://entity.service.common.scb"/>
      <xsd:import schemaLocation="CardCustomerService.xsd3.xsd" namespace="http://fault.service.common.scb"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="cardCustomerRequest">
    <wsdl:part name="serviceHeader" element="xsns:ServiceHeader" xmlns:xsns="http://entity.service.common.scb"/>
    <wsdl:part name="enquireCardCustomer" element="xsns:EnquireCardCustomer"
               xmlns:xsns="http://entity.cards.common.scb"/>
  </wsdl:message>
  <wsdl:message name="cardCustomerResponse">
    <wsdl:part name="creditCardResponse" element="xsns:EnquireCardCustomer"
               xmlns:xsns="http://entity.cards.common.scb"/>
  </wsdl:message>
  <wsdl:message name="getCustomerRewardPointsSummaryRq">
    <wsdl:part name="serviceHeader" element="xsns:ServiceHeader" xmlns:xsns="http://entity.service.common.scb"/>
    <wsdl:part name="getCustomerRewardPointsSummaryRq" element="xsns:GetCustomerRewardPointsSummary"
               xmlns:xsns="http://entity.cards.common.scb"/>
  </wsdl:message>
  <wsdl:message name="getCustomerRewardPointsSummaryRs">
    <wsdl:part name="getCustomerRewardPointsSummaryRs" element="xsns:GetCustomerRewardPointsSummary"
               xmlns:xsns="http://entity.cards.common.scb"/>
  </wsdl:message>
  <wsdl:message name="getMerchantDetailsRq">
    <wsdl:part name="serviceheader" element="xsns:ServiceHeader" xmlns:xsns="http://entity.service.common.scb"/>
    <wsdl:part name="getMerchantDetailsRq" element="xsns:GetMerchantDetails"
               xmlns:xsns="http://entity.cards.common.scb"/>
  </wsdl:message>
  <wsdl:message name="getMerchantDetailsRs">
    <wsdl:part name="getMerchantDetailsRs" element="xsns:GetMerchantDetails"
               xmlns:xsns="http://entity.cards.common.scb"/>
  </wsdl:message>
  <wsdl:message name="getRewardRedemptionDetailsRq">
    <wsdl:part name="serviceheader" element="xsns:ServiceHeader" xmlns:xsns="http://entity.service.common.scb"/>
    <wsdl:part name="getRewardRedemptionDetailsRq" element="xsns:GetRewardRedemptionDetails"
               xmlns:xsns="http://entity.cards.common.scb"/>
  </wsdl:message>
  <wsdl:message name="getRewardRedemptionDetailsRs">
    <wsdl:part name="getRewardRedemptionDetailsRs" element="xsns:GetRewardRedemptionDetails"
               xmlns:xsns="http://entity.cards.common.scb"/>
  </wsdl:message>
  <wsdl:message name="linkedCardRequest">
    <wsdl:part name="serviceHeader" element="xsns:ServiceHeader" xmlns:xsns="http://entity.service.common.scb"/>
    <wsdl:part name="enquireLinkedCards" element="xsns:EnquireLinkedCards" xmlns:xsns="http://entity.cards.common.scb"/>
  </wsdl:message>
  <wsdl:message name="linkedCardResponse">
    <wsdl:part name="creditCardResponse" element="xsns:EnquireLinkedCards" xmlns:xsns="http://entity.cards.common.scb"/>
  </wsdl:message>
  <wsdl:message name="SecurityFault">
    <wsdl:part name="SecurityFault" element="xsns:SecurityFault" xmlns:xsns="http://fault.service.common.scb"/>
  </wsdl:message>
  <wsdl:message name="ServiceFault">
    <wsdl:part name="ServiceFault" element="xsns:ServiceFault" xmlns:xsns="http://fault.service.common.scb"/>
  </wsdl:message>
  <wsdl:portType name="CardCustomerService">
    <wsdl:operation name="enquireCardCustomer">
      <wsdl:input name="cardCustomerRequest" message="ns0:cardCustomerRequest"/>
      <wsdl:output name="cardCustomerResponse" message="ns0:cardCustomerResponse"/>
      <wsdl:fault name="SecurityFault" message="ns0:SecurityFault"/>
      <wsdl:fault name="ServiceFault" message="ns0:ServiceFault"/>
    </wsdl:operation>
    <wsdl:operation name="enquireLinkedCards">
      <wsdl:input name="linkedCardRequest" message="ns0:linkedCardRequest"/>
      <wsdl:output name="linkedCardResponse" message="ns0:linkedCardResponse"/>
      <wsdl:fault name="SecurityFault" message="ns0:SecurityFault"/>
      <wsdl:fault name="ServiceFault" message="ns0:ServiceFault"/>
    </wsdl:operation>
    <wsdl:operation name="getCustomerRewardPointsSummary">
      <wsdl:input name="getCustomerRewardPointsSummaryRq" message="ns0:getCustomerRewardPointsSummaryRq"/>
      <wsdl:output name="getCustomerRewardPointsSummaryRs" message="ns0:getCustomerRewardPointsSummaryRs"/>
      <wsdl:fault name="SecurityFault" message="ns0:SecurityFault"/>
      <wsdl:fault name="ServiceFault" message="ns0:ServiceFault"/>
    </wsdl:operation>
    <wsdl:operation name="getMerchantDetails">
      <wsdl:input name="getMerchantDetailsRq" message="ns0:getMerchantDetailsRq"/>
      <wsdl:output name="getMerchantDetailsRs" message="ns0:getMerchantDetailsRs"/>
      <wsdl:fault name="ServiceFault" message="ns0:ServiceFault"/>
      <wsdl:fault name="SecurityFault" message="ns0:SecurityFault"/>
    </wsdl:operation>
    <wsdl:operation name="getRewardRedemptionDetails">
      <wsdl:input name="getRewardRedemptionDetailsRq" message="ns0:getRewardRedemptionDetailsRq"/>
      <wsdl:output name="getRewardRedemptionDetailsRs" message="ns0:getRewardRedemptionDetailsRs"/>
      <wsdl:fault name="ServiceFault" message="ns0:ServiceFault"/>
      <wsdl:fault name="SecurityFault" message="ns0:SecurityFault"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CardCustomerService" type="ns0:CardCustomerService">
    <soap11:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="enquireCardCustomer">
      <soap11:operation soapAction="enquireCardCustomer" style="document"/>
      <wsdl:input name="cardCustomerRequest">
        <soap11:body parts="enquireCardCustomer" use="literal"/>
        <soap11:header message="ns0:cardCustomerRequest" part="serviceHeader" use="literal"/>
      </wsdl:input>
      <wsdl:output name="cardCustomerResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceFault">
        <soap11:fault name="ServiceFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SecurityFault">
        <soap11:fault name="SecurityFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="enquireLinkedCards">
      <soap11:operation soapAction="enquireLinkedCards" style="document"/>
      <wsdl:input name="linkedCardRequest">
        <soap11:body parts="enquireLinkedCards" use="literal"/>
        <soap11:header message="ns0:linkedCardRequest" part="serviceHeader" use="literal"/>
      </wsdl:input>
      <wsdl:output name="linkedCardResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceFault">
        <soap11:fault name="ServiceFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SecurityFault">
        <soap11:fault name="SecurityFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCustomerRewardPointsSummary">
      <soap11:operation soapAction="getCustomerRewardPointsSummary" style="document"/>
      <wsdl:input name="getCustomerRewardPointsSummaryRq">
        <soap11:body parts="getCustomerRewardPointsSummaryRq" use="literal"/>
        <soap11:header message="ns0:getCustomerRewardPointsSummaryRq" part="serviceHeader" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getCustomerRewardPointsSummaryRs">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceFault">
        <soap11:fault name="ServiceFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SecurityFault">
        <soap11:fault name="SecurityFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getMerchantDetails">
      <soap11:operation soapAction="getMerchantDetails" style="document"/>
      <wsdl:input name="getMerchantDetailsRq">
        <soap11:body parts="getMerchantDetailsRq" use="literal"/>
        <soap11:header message="ns0:getMerchantDetailsRq" part="serviceheader" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getMerchantDetailsRs">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceFault">
        <soap11:fault name="ServiceFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SecurityFault">
        <soap11:fault name="SecurityFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getRewardRedemptionDetails">
      <soap11:operation soapAction="getRewardRedemptionDetails" style="document"/>
      <wsdl:input name="getRewardRedemptionDetailsRq">
        <soap11:body parts="getRewardRedemptionDetailsRq" use="literal"/>
        <soap11:header message="ns0:getRewardRedemptionDetailsRq" part="serviceheader" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getRewardRedemptionDetailsRs">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceFault">
        <soap11:fault name="ServiceFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SecurityFault">
        <soap11:fault name="SecurityFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CardCustomerService">
    <wsdl:port name="CardCustomerService" binding="ns0:CardCustomerService">
      <soap11:address location="https://10.20.169.9:8080/CommonServices/v2.0/CardCustomerService"/>
    </wsdl:port>
    <wsdl:port name="CardCustomerService.0" binding="ns0:CardCustomerService">
      <soap11:address location="https://10.20.169.9:8080/CommonServices/v2.0/CardCustomerService/SecondaryService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
